@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors:{
  #452a72      #7963a7 #bac3df #6c7fbf #293770
  darkpurple   purple  light   skyblue  darkBlue
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social-links:hover {
  background-color: #452a72;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
